.costs {
	margin: 40px 55px 226px 40px;
}

.costs__table {
	width: 100%;
	height: 135px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.costs__table-row {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&:last-of-type {
		font-weight: 700;
		font-size: 18px;
	}
}

.costs__name,
.costs__sum {
	line-height: 34px;
}
